<div class="center">
  <div class="card " style="width: 18rem">
    <img
      src="{{ product?.image }}"
      class="card-img-top"
      alt="{{ product?.title }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product?.title | uppercase }}</h5>
      <h6 [ngStyle]="{ color: color }">{{ product?.price | currency }}</h6>
      <p class="card-text" *ngIf="product?.description">
        {{ product?.description }}
      </p>
    </div>
    <ng-container *ngIf="loading"
      ><i style="color: blue">Cargando Información...</i>
    </ng-container>
  </div>
  
</div>